<app-header [toggle-side-navbar]="toggleSideNavState" (changeSideNavbarState)="toggleSideNavbar($event)"></app-header>
<app-side-nav-bar [is-open]="toggleSideNavState" [main-content]="mainContent"></app-side-nav-bar>

<ng-template #mainContent>
    <div class="container-fluid"> 
        <div class="row mt-3 mb-3">
            <div class="col-lg-6">
                <h1>List of Suppliers</h1>
            </div>
            <div class="col-lg-6 d-flex justify-content-between">
                <div class="col-lg-10">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchKeyword" (ngModelChange)="searchFilter(searchKeyword)">
                        <button class="btn btn-success" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div>
                    <button class="btn btn-sm btn-success text-right" (click)="openDialog()">
                        <span class="small">Modal</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex" *ngIf="(suppliers$ | async) as suppliers">
            <div class="w-50" *ngIf="suppliers.length > 0">
                <ul class="list-group" *ngFor="let supplier of suppliers">
                    <li class="list-group-item list-group-item-success">
                        <span class="h6">Supplier ID: {{supplier.SupplierID}}</span>
                    </li>
                    <li class="list-group-item">
                        <div><b>Supplier Name:</b> {{supplier.SupplierName}}</div>
                        <div><b>Address:</b> {{supplier.Address}}</div>
                        <div><b>Country:</b> {{supplier.Country}}</div>
                    </li>
                    <li><br></li>
                </ul>
            </div> 
            <div> &nbsp; &nbsp; &nbsp; </div>
            <div class="w-50" *ngIf="suppliers.length > 0">
                <ul class="list-group" *ngFor="let supplier of suppliers">
                    <li class="list-group-item list-group-item-success">
                        <span class="h6">Supplier ID: {{supplier.SupplierID}}</span>
                    </li>
                    <li class="list-group-item">
                        <div><b>Supplier Name:</b> {{supplier.SupplierName}}</div>
                        <div><b>Address:</b> {{supplier.Address}}</div>
                        <div><b>Country:</b> {{supplier.Country}}</div>
                    </li>
                    <li><br></li>
                </ul>
            </div> 
            <div class="w-100" *ngIf="suppliers.length == 0">
                <h1 class="text-center">No data found</h1>
            </div>
        </div> 
    </div> 
</ng-template> 