/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.session-prompt .mat-dialog-container {
    padding-bottom: 1rem;
}

.session-prompt .mat-dialog-actions {
    margin-top: 1rem; 
} 

.session-prompt .mat-dialog-actions {
    justify-content: center;
}

app-header {
    position: relative;
    z-index: 99; /*9999*/;
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}